.container {
    height: auto;
    margin: 15px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.buttonHeader {
    text-align: right;
}

.linksHeader {
    text-align: right;
}

.sideBar {
    background-color:gray;
}
.sideBar a {
    margin: 5px;
}

h6 {
    border-bottom: 1px solid grey;
}

.content-right {
    width: 33%;
}

footer {
    border-top: 1px solid grey;
}

.footer-right {
    text-align: right;
}
